<!DOCTYPE html>
<html>
  <head>
    <title>BoolZapp</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/styles.css" />
    <!-- VUE CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <!-- DAY.JS CDN -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
<script>dayjs.extend(window.dayjs_plugin_utc)</script>
<script>dayjs().format()</script>


    
  </head>
  <body>
    <header></header>
    <main>
      <div id="app">
        <div class="container-whatsapp">
          <div class="green-header-row"></div>
          <div class="container-whatsapp-window">
            <div class="col-12-4 border-right">
              <div class="col-header">
                <div class="col-header-div">
                  <img src="img/avatar_1.jpg" alt="avatar_io" />
                </div>
                <div class="col-header-div-center custom-padding">
                  <span>Timur Pavlenko</span>
                </div>
                <div class="col-header-div-left">
                  <i class="fas fa-circle-notch"></i>
                  <i class="fas fa-comment-alt"></i>
                  <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>
              <div class="div-news">
                <div><i class="far fa-bell-slash"></i></div>
                <div class="div-news-text">
                  <div>Ricevi notifiche di nuovi messaggi</div>
                  <div class="div-news-custom-text">
                    Attiva notifiche desktop
                  </div>
                </div>
              </div>

              <div class="div-search">
                <i class="fas fa-search"></i>
                <input
                  id="search-input"
                  type="text"
                  placeholder="Cerca o inizia una nuova chat"
                  v-model="inputSearchText"
                />
              </div>

              <div class="div-overflow">
                <div id="div-users">
                  <div
                    class="height-100px"
                    v-for="(item , index) of filteredList"
                    @click="chooseChat(item, index)"
                  >
                    <div
                      class="user-row-div"
                      :class="index === activeUser ? 'opacity' : ''"
                    >
                      <div>
                        <img
                          v-bind:src="item.avatar"
                          v-bind:alt="item.avatar"
                        />
                      </div>
                      <div class="user">
                        <div class="name-user-div">{{item.name}}</div>
                        <div class="last-mess-user-div">
                          {{getLastMess(item.messages_list)}}
                        </div>
                        <div class="timestamp-user-div">
                         {{getLastTime(item.messages_list)}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12-8">
              <div class="col-header">
                <div class="col-header-div">
                  <img
                    v-bind:src="activeChat.avatar"
                    v-bind:alt="activeChat.avatar"
                  />
                </div>
                <div class="col-header-div-center custom-padding">
                  <div>{{activeChat.name}}</div>
                  <div class="header-col-timeText">Ultimo accesso oggi alle  {{activeChat.timesent}}</div>
                </div>
                <div class="col-header-div-left">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-paperclip"></i>
                  <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>

              <div class="messages-window-div">
                <div
                  class="message-block"
                  :class="messageItem.sent ? 'right' : 'left'" 
                  v-for="(messageItem , index) of activeChat.messages_list"
                  >
                  <div :class="messageItem.sent ? 'mess-sent' : 'mess-receiv'">
                    <div class="message-text">
                      {{messageItem.message}}
                      <div class="icon_open" @click="showWindow(index)">
                        <i class="fas fa-chevron-down"></i>
                      </div>
                    </div>
                    <div class="time-message-sent">
                      <span> {{messageItem.time_mess}}</span>
                    </div>
                    <div id="index" class="window_delete_open" :class="[visible ? 'show' : 'hide']"><span @click="deletThisMessage(index)">Delete</span></div>
                  </div>
                </div>
              </div>

              <div
                id="inputFocusSendMess"
                class="send-message-div"
                tabindex="0"
              >
                <div class="col-10"><i class="far fa-smile"></i></div>
                <div class="col-80">
                  <input
                    type="text"
                    v-model="inputTextMess"
                    placeholder="Scrivi un messaggio"
                    @keyup.enter="addNewMess"
                  />
                </div>
                <div class="col-10"><i class="fas fa-microphone"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="js/app.js"></script>
  </body>
</html>
